{% load mptt_tags %}
<section class="categories-slider-area bg__white">
  <div class="container">
      <div class="row">
          <!-- Start Left Feature -->
          <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
              <!-- Start Slider Area -->
              <div class="slider__container slider--one">
                  <div class="slider__activation__wrap owl-carousel owl-theme">
                      <!-- Start Single Slide -->
                      <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover ;">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                      <div class="slider__inner">
                                          <h1>New Product <span class="text--theme">Collection</span></h1>
                                          <div class="slider__btn">
                                              <a class="htc__btn" href="/order-summary/">shop now</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Slide -->
                      <!-- Start Single Slide -->
                      <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover ;">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                      <div class="slider__inner">
                                          <h1>New Product <span class="text--theme">Collection</span></h1>
                                          <div class="slider__btn">
                                              <a class="htc__btn" href="cart.html">shop now</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Single Slide -->
                  </div>
              </div>
              <!-- Start Slider Area -->
          </div>
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
              <div class="categories-menu mrg-xs">
                  <div class="category-heading">
                      <h3> Browse Categories</h3>
                  </div>
                  <div class="category-menu-list">                             
                      <ul>
                        {% recursetree category %}                       
                          <li><a href="/category/{{ node.id }}/{{ node.slug }}/">{{ node.title }} {% if not node.is_leaf_node %}<i class="zmdi zmdi-chevron-right"></i>{% endif %}</a>
                              {% if not node.is_leaf_node %}
                              <div class="category-menu-dropdown">
                                  <div class="category-part-1 category-common mb--30">
                                  {% for child in node.get_children %}                                                                       
                                    <h4 class="categories-subtitle"><a href="/category/{{ child.id }}/{{ child.slug }}/"> {{child}} </a></h4> 
                                    {% if not child.is_leaf_node %}
                                        {% for leaf in child.get_children %}
                                            <ul class="children">
                                                <li><a href="/category/{{ leaf.id }}/{{ leaf.slug }}/"> {{ leaf }}</a></li>                                            
                                            </ul>
                                        {% endfor %}                                      
                                    {% endif %}
                                   {% endfor %}                                   
                                  </div>                                  
                              </div>
                              {% endif %}
                          </li>
                          {% endrecursetree %}
                      </ul>
                  </div>
              </div>
          </div>
          <!-- End Left Feature -->
      </div>
  </div>
</section>
